

.food-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20%;
  }
  
  .food-block {
    text-align: center;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  
  }
  
  .food-block:hover {
    transform: scale(1.05);
  }
  
  .food-image {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .order-button {
    background-color: #ffd700;
    color: #333;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .order-button:hover {
    background-color: #333;
    color: #ffd700;
  }
  .t1{
    text-align: center;
  }
